In [3]:
import os, glob

import pandas as pd
import biogeme.database as db
import biogeme.biogeme as bio
from biogeme.expressions import Beta, DefineVariable
from biogeme.models import loglogit, piecewiseFormula
from biogeme.models import lognested

In [8]:
df = pd.read_table("new_lpmc02.dat", index_col=0)
database = db.Database("LPMC",df)
pd.options.display.float_format = '{:.3g}'.format

globals().update(database.variables)

In [10]:
df.head()

,trip_id,household_id,person_n,trip_n,travel_mode,purpose,fueltype,faretype,bus_scale,survey_year,...,dur_pt_rail,dur_pt_bus,dur_pt_int,pt_interchanges,dur_driving,cost_transit,cost_driving_fuel,cost_driving_ccharge,driving_traffic_percent,Weights
0,46487,9923,3,1,3,2,6,3,0,2,...,0,0.0711,0,0,0.153,0,0.4,0,0.318,1.07
1,76528,16553,2,0,3,5,6,4,1,3,...,0.417,0.05,0.1,1,0.853,4.1,2.22,0,0.588,1.07
2,32857,7078,0,2,4,3,2,1,1,2,...,0,0.338,0,0,0.162,1.5,0.43,0,0.325,1.07
3,69198,14953,2,2,4,3,2,5,0,3,...,0,0.223,0.15,1,0.177,0,0.53,0,0.287,1.07
4,31416,6767,2,0,1,2,1,5,0,2,...,0,0.0325,0,0,0.085,0,0.22,0,0.366,1.07

In [12]:
sum_weights = database.data['Weights'].sum()
S = database.getSampleSize()
sample_normalized_weight = Weights * S / sum_weights

In [ ]:
# market share prediction 
# ...